   /* Center the heading */
   h1 {
       text-align: center;
   }

   /* Style the unordered list */
   .product-lists {
    list-style-type: none;
       background-color: lightgray;
       border: 1px solid none;
   }

   /* Style the list items */
   ul li {
       color: green;
       font-weight: bold;
   }